<mat-toolbar class="header">
  <!--<button matButton [matMenuTriggerFor]="menu" class="menu-button" aria-label="Abrir menu">
    <mat-icon>menu</mat-icon>
  </button>>-->
  <div class="logo">
    <img src="/images/logo.png" alt="Logo SISOP" />
  </div>

  <!-- TITULO -->
  <div class="title">
    <h3>Bem-vindo ao SISOP</h3>

    <span> Sistema de Obras e Patrimônio Imobiliário </span>
  </div>

  <span class="spacer"></span>

  <!-- USUARIO -->
  <button mat-button [matMenuTriggerFor]="menuUsuario" class="user-button">
    <div class="user">
      <mat-icon>account_circle</mat-icon>

      <div>
        <strong>{{ nomeUsuario }}</strong>
        <span>{{ omUsuario }}</span>
      </div>

      <mat-icon>expand_more</mat-icon>
    </div>
  </button>
</mat-toolbar>

<mat-menu #menuUsuario="matMenu">
  <button mat-menu-item>
    <mat-icon> person </mat-icon>

    Perfil
  </button>

  <button mat-menu-item>
    <mat-icon> settings </mat-icon>

    Configurações
  </button>

  <mat-divider></mat-divider>

  <button mat-menu-item (click)="logout()"><mat-icon color="warn"> logout </mat-icon>Sair</button>
</mat-menu>

<mat-menu #menu="matMenu" class="menu">
  <mat-nav-list class="nav-menu">
    @for (menu of menus; track menu.rota) {
      <a mat-list-item [routerLink]="menu.rota" class="menu-item">
        <mat-icon matListItemIcon class="menu-icon">
          {{ menu.icone }}
        </mat-icon>

        <span matListItemTitle class="menu-title">
          {{ menu.titulo }}
        </span>
      </a>
    }
  </mat-nav-list>
</mat-menu>
